<head>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <title>Code Snippet Saver</title>
</head>

<body>
  <h1>Welcome to the best code snippet saver!</h1>
  <p>
    <h2>Please login to continue</h2>
  </p>
  {{#messages.error}}
          <div class="alert alert-danger" role="alert">
            {{.}}
          </div>
      {{/messages.error}}
  <form action="." method="POST">
    <fieldset>
      <legend>Login</legend>
    <p>
      <label for="username">UserId:</label>
      <input type="text" id="username" name="username" required />
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </p>
    <p>
      <button type="submit">Login</button>
    </p>
  </fieldset>
  </form>
    <p>
      Don't have a Userid?
      <a href="/register/" class="button">Click here to register</a>
    </p>

<!-- add a logout button -->

</body>
