<head>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <title>Your Code Snippets</title>
</head>

<body>

  <form action="." method="POST">
    <p>
      <label for="title">Code snippet title:</label>
      <input type="text" id="title" name="title" unique='true' required />
    </p>
    <p>
      <label for="codeBody">Enter the snippet you'd like to save:</label>
      <textarea name="codeBody" rows="20" cols="50"></textarea>
    </p>

  </form>

</body>
