<head>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <title>Code Snippet</title>
</head>

<body>
  {{#snippet}}

  <h2><font color=blue>Title: {{title}}</font></h2>
  <h3>Programming Language:</h3>
  <p>
    {{lang}}
  </p>
  <h3>Code Body:</h3>
  <p>
    {{codeBody}}
  </p>
  <h3>Notes:</h3>
  <p>
    {{notes}}
  </p>
  <h3>Tags:</h3>
    {{tags}}
  {{/snippet}}
</body>
