<head>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <title>Your Code Snippets</title>
</head>

<body>

  {{#snippet}}
    <h1>Welcome {{thisUser}}</h1>
    <h2>Here are Your Code Snippets</h2>
    <table>
      <tr>
        <th>
          Snippet Title:
        </th>
        <th>
          Language
        </th>
      </tr>
      <tr>
        <td>
          <a href="/{{_id}}">
            {{title}}</a>
        </td>
        <td>
          {{lang}}
        </td>
      </tr>
    </table>
  {{/snippet}}

  {{^snippet}}
    <h1>You don't have any saved code snippets yet!</h1>
{{/snippet}}

    <p>
      <a href="/add/" class=button>Add a new code snippet</a>
    </p>
  </form>

<!-- need to add a logout button and think about
adding search for other users code snippets -->

</body>
