<head>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  <title>Your Code Snippets</title>
</head>

<body>
  <h1>Welcome!</h1>
  <p>
    <h2>Here are Your Code Snippets</h2>
  </p>

  {{#snippet}}

    <table>
      <tr>
        <th>
          Snippet Title:
        </th>
        <th>
          Language
        </th>
      </tr>
      <tr>
        <td width="70%">
          <a href="/{{_id}}">
            {{title}}</a>
        </td>
        <td width="30%">
          {{lang}}
        </td>
      </tr>
    </table>
  {{/snippet}}

  {{^snippet}}
  <h1>You don't have any saved code snippets yet!</h1>
  <h2>Add one now to get started!</h2>
  {{/snippet}}

  <p>
    <a href="/add/" class=button>Add a new code snippet</a>
  </p>
  <hr>
  <div class = "inputBox">
  <form action='/search/' method=POST>
    <p>
      <label for="srchlang">Search my snippets for a language:</label>
      <select name="srchlang">
        <option value="js">Javascript</option>
        <option value="react">React</option>
        <option value="ruby">Ruby</option>
        <option value="nodejs">Nodejs</option>
        <option value="java">Java</option>
        <option value="other">Other</option>
      </select>
    </p>

    <p>
      <button type="submit">Submit language Search</button>
    </p>
  </form>
  <hr>

  <form action='/search/' method=POST>
    <p>
      <label for="srchtag">Search my snippets for a tag:</label>
      <input type="text" id="srchtag" name="srchtag" />
    </p>
    <p>
      <button type="submit">Submit tag Search</button>
    </p>
  </form>
  </div>
  <!-- need to add a logout button and think about
adding search for other users code snippets -->

</body>
